.container-fluid {
  min-height: 100vh; /* Esto hará que el contenedor principal tenga al menos la altura de la ventana del navegador */
  padding-bottom: 2rem; /* Esto añade algo de espacio en la parte inferior, lo que puede ayudar a evitar la superposición */
}
.container {
  margin-bottom: 4rem; /* Esto añade un margen en la parte inferior del contenedor */
}
.button-group {
  display: flex;
  justify-content: space-between; /* Esto separará los botones, colocándolos a cada extremo del contenedor */
  margin-top: 20px; /* Esto añadirá un poco de espacio en la parte superior */
}

.button-group .btn {
  width: 48%; /* Esto hará que cada botón tenga casi la mitad del ancho del contenedor, con un pequeño espacio entre ellos */
  font-size: 16px; /* Esto hará que el texto de los botones sea un poco más grande */
}
